---
import '@fontsource/noto-sans-jp';
import OGP from '../components/OGP.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
// page title
const _pageTitle = Astro.props.pageTitle;
const pageTitleOnPage = _pageTitle === 'ブログ' ? '' : _pageTitle;
const pageTitle =_pageTitle === '' ? 'Keigo Kusumegi' : `${_pageTitle} - Keigo Kusumegi`;
// ogp image
const ogpImage = Astro.props.ogpImage || '/images/ogp.jpg';
const ogpDescription = Astro.props.ogpDescription;
---
<html lang="en">
  <head prefix="og: https://ogp.me/ns#">
    <!-- Google Analytics 4 -->
    <script type='text/partytown' async src="https://www.googletagmanager.com/gtag/js?id=G-5BLWZ3MF9C"></script>
    <script type='text/partytown'>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5BLWZ3MF9C');
    </script>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <OGP 
    ogpTitle={pageTitle}
    ogpImage={ogpImage}
    ogpDescription={ogpDescription}
    />
    <title>{pageTitle}</title>
  </head>

  <body>
    <div class='wrapper'>
      <Header />
      <hr>
      <div class='head'>
        <h1>{pageTitleOnPage}</h1>
      </div>
      <slot />
    </div>
    
  </body>
</html>

<style lang="scss" is:global>
.wrapper {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto 32px;
  // padding: 0 ;
  // box-sizing: border-box;
}
hr {
  opacity: 30%;
}
</style>